@font-face {
  font-family: "Kalnia";
  src: url("/fonts/static/Kalnia-Light.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kalnia";
  font-weight: 800;
}
body {
  background-color: #ebe5e5fd;
}
/* Header section start */
header {
  width: 100%;
  height: 50px;
  background-size: cover;
  font-weight: 600;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(47, 246, 7, 0.75);
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(213, 217, 213);
}
header .container .logo-img {
  margin-top: 5px;
  margin-left: 60px;
}
header .container .logo-img a img:hover {
  background-color: rgba(12, 70, 6, 0.188);
  border-radius: 10px;
}
header .container .header-text {
  margin: 5px 70px 5px 10px;
}
header .container .header-text a {
  font-size: x-large;
  text-decoration: none;
  color: rgb(2, 142, 2);
  text-shadow:  3px 3px 10px rgba(5, 202, 5, 0.676);
}
header .container .header-text a:hover {
  color: rgba(0, 0, 0, 0.753);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.42);
}
header .container .nav-list {
  margin: 12px 30px 10px 0;
}
header .container .nav-list ul {
  display: flex;
  border: 1px solid rgb(2, 142, 2);
  border-radius: 12px;
  outline: 2px solid rgba(6, 133, 6, 0.143);
}
header .container .nav-list ul:hover {
  border-color:rgba(0, 0, 0, 0.392);
  outline: 3px solid rgba(6, 133, 6, 0.143);
  background-color: rgba(165, 209, 165, 0.457);
}
header .container .nav-list ul li {
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  list-style-type: none;
}
header .container .nav-list ul li a {
  text-decoration: none;
  color: rgb(2, 142, 2);
  font-size: 15px;
}
header .container .nav-list ul li a:hover {
  color: rgba(4, 4, 4, 0.918);
  font-weight: 600;
}
/* Header section end */
#free-space {
  width: 100%;
  height: 60px;
  background-color: #ebe5e5fd;
}
/* About-Nuture section start */

.about-nature .container .wrap-1 img {
  margin: 5px 10px 0 5px;
  border-radius: 10px;
  float: left;
}
.about-nature .container .wrap-1 .about-nature-title {
  font-size: x-large;
  padding: 5px 0 5px 50px;
  display: inline-block;
}
.about-nature .container .wrap-1 .about-nature-text {
  margin: 0 10px;
  text-align: justify;
}
  /* About-Nuture section end */
#people {
  width: 100%;
  height: 50px;
}
  /* People and Nature section start */
.people .container .people-title {
  width: 100%;
  height: 60px;
  background-image: url("/images/wide-angle-shot-white-smoke-coming-out-nuclear-plants.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 60px;
  margin-bottom: 10px;
  font-size: xx-large;
}
.people .container .people-text {
  text-align: justify;
  margin: 0 5px;
  /* display: block; */
}
.people .container .video-nature {
  float: left;
  margin: 5px 10px 0 5px;
}
.people .container .video-nature-a {
  float: right;
  margin: 5px 5px 0 5px;
}
  /* People and Nature section end */
  #nature-pollution {
    width: 100%;
    height: 50px;
  }
  #solutions {
    width: 100%;
    height: 60px;
  }
  /* Nature-Pollution section start */
.nature-pollution .container {
  width: 100%;
  margin: 0 auto;
}
.nature-pollution .container .nature-pollution-title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgb(41, 34, 100);
  text-align: center;
  font-size: xx-large;
  color: white;
  margin: 10px 0;
}
.nature-pollution .container .card-a {
  display: inline-block;
  width: auto;
  height: 400px;
  margin: 0 0 5px 5px;
  background-color: rgb(41, 39, 39);
  color: white;
  border-radius:10px;
}
.nature-pollution .container .card-a iframe {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nature-pollution .container .card-a iframe:hover {
  background-color: rgb(128, 128, 128);
}
.nature-pollution .container .card-a p {
height: 60px;
line-height: 60px;
font-size: x-large;
text-align: center;
text-shadow: 5px 5px 30px white;
}
.nature-pollution .container .card-a:hover {
  background-color: rgba(41, 39, 39, 0.828);
}
  /* Nature-Pollution section end */

  /* Solutions section start */
  .solutions {
    width: 100%;
    height: 500px;
    margin: 20px 5px;
    background-image: url("/images/plastic-trash-seaside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 500px;
  color: rgba(0, 0, 0, 0.922);
  box-sizing: border-box;
}
.solutions .container .solution {
  width: 100%;
  height: 70px;
  font-size: 70px;
}

/* Solutions section end */

#support {
  width: 100%;
  height: 40px;
}
/* Footer start */
footer {
  margin: 20px 10px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .text-center {
  display: block;
  font-size: xx-large;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 0, 255, 0.742);
  color: white;
  text-align: center;
}
footer .container form {
  width: 400px;
}
footer .container form label {
  font-size: x-large;
  padding-top: 10px;
}
footer .container form input {
  width: 500px;
  padding: 15px;
  font-size: x-large;
}
footer .container form #fname, #lname {
  margin-bottom: 10px;
}
footer .container form #country {
  width: 100px;
  padding: 5px 0;
  margin: 10px 0 30px 5px;
}
footer .container form textarea {
  width: 500px;
  height: 300px;
}
footer .container form .submit {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(10, 125, 10);
}
footer .container form .submit:hover {
  background-color: rgba(10, 125, 10, 0.863);
  text-shadow: 5px 5px 15px rgb(252, 255, 252);
}
footer .container form .submit:active {
  background-color: rgb(10, 125, 10);
}
footer .container .media-icons {
  width: 30%;
  height: 105px;
  /* background-color: rgba(62, 62, 61, 0.267); */
  margin: 30px 30px 0 0;
}
footer .container .media-icons .media-icons-title {
  background-color: rgb(33, 33, 37);
  color: white;
  font-size: large;
  padding: 10px;
  text-align: center;
}
footer .container .media-icons a img {
  width: 50px;
  height: 50px;
  margin: 5px 9px 0 9px;
}
footer .container .media-icons a img:hover {
  background-color: rgb(79, 78, 78);
  border-radius: 20px;
}
/* Footer end */
/* Media Responsive start */

@media only screen and (max-width: 1216px) {
  header .container .nav-list ul{
    margin: 2px 5px;
  }
  header .container .nav-list ul li {
    margin: 0 5px;
    padding: 0 5px;
  }
  header .container .nav-list ul li a{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 887px) {
  header .container {
    display: flex;
    justify-content: center;
  }
  header .container .nav-list {
    display: none;
  }
}
@media only screen and (max-width: 1201px) {
  #free-space {
  width: 100%;
  height: 80px;
  background-color: #ebe5e5fd;
}
}

@media only screen and (min-width: 1280px) {
  header .container .logo-img {
    margin-left: 7%;
    margin-right: 0;
  }
  header .container .header-text {
    margin-right: 7%;
    margin-left: 0;
  }
}
@media only screen and (min-width: 1380px) {
  header .container .logo-img {
    margin-left: 10%;
    margin-right: 0;
  }
  header .container .header-text {
    margin-right: 10%;
    margin-left: 0;
  }
}
@media only screen and (min-width: 1470px) {
  header .container .logo-img {
    margin-left: 12%;
    margin-right: 0;
  }
  header .container .header-text {
    margin-right: 12%;
    margin-left: 0;
  }
}
@media only screen and (min-width: 1530px) {
  header .container .logo-img {
    margin-left: 14%;
    margin-right: 0;
  }
  header .container .header-text {
    margin-right: 14%;
    margin-left: 0;
  }
}


/* Media Responsive end */
